// .spin {
//     position: fixed;
//     top: 50%;
//     left: 50%;
//     transform: translate(-50%, -50%);
// }
// ion-spinner {
//     width: 28px;
//     height: 28px;
//     stroke: #444;
//     fill: #222;
// }
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, .7);
}

.overlay__wrapper {
    width: 100%;
    height: 100%;
    position: relative;
}

.overlay__spinner {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}