<ion-footer class="ion-no-border" style="position: fixed; bottom:0">
    <ion-toolbar>
        <ion-tabs>
            <ion-tab-bar>
                <ion-tab-button tab="editprofile">
                    <ion-label>Edit Profile</ion-label>
                    <ion-icon name="person-circle-outline"></ion-icon>
                </ion-tab-button>
                <ion-tab-button tab="search">
                    <ion-label>Search Exam</ion-label>
                    <ion-icon name="search"></ion-icon>
                </ion-tab-button>
                <ion-tab-button tab="notification">
                    <ion-label>Notification</ion-label>
                    <ion-icon name="notifications-outline"></ion-icon>
                </ion-tab-button>
            </ion-tab-bar>
        </ion-tabs>
    </ion-toolbar>
</ion-footer>